## Problem Set:

### 1. Function to print all numbers divisible by 6 and not a factor of 100 in a given range(lb, ub) inclusive
### 2. Function to find the average of cubes of all even numbers in a given range(lb, ub) inclusive
### 3. Function to generate the list of factors for a given number
### 4. Function to calculate the factorial of a given number
### 5. Function to check if a given number is Prime
### 6. Function to calculate the average first N Prime numbers
### 7. Function to generate all Perfect numbers in a given range

## Advanced Problem Set( Optional )

### Function to calculate the average of all factorials in a given range
### Function to generate N odd Armstrong numbers
### Function to generate Multiplication table for a number in a given range
```
10 in the range(100, 102) inclusive
10 x 100 = 1000
10 x 101 = 1010
10 x 102 = 1020
Problems That needs a Try
```

### 8. You are given a string and your task is to swap cases. In other words, convert all lowercase letters to uppercase letters and vice versa. (The String may contain special characters).
### 9. Given an integer, ’n’ , perform the following conditional actions:
#### If ‘n’  is odd, print Weird
#### If  ‘n’ is even and in the inclusive range of 2 to 5, print Not Weird
#### If  ‘n’ is even and in the inclusive range of 6 to 20 , print Weird
#### If  ‘n’ is even and greater than 20, print Not Weird

### 10. Given the participants ‘n’ score sheet for your University Sports Day, you are required to find the runner-up score. You are given scores. Store them in a list and find the score of the runner-up. (there can be multiple winners - if their scores match).


**[https://www.anaconda.com/](AnakondaSoftware)**

In [2]:
# Hello World

# '''  Write multiple lines  '''

print('Hello World')

Hello World

In [8]:
# Addition of two mnumbers

# need not to specify the data type

a=10
b=10
c=(a+b)
print('The addition of a and b is :',c)

The addition of a and b is : 20

In [7]:
# Print "Hello this is a new" program

print('"Hello this is a new"')

"Hello this is a new"

# Strings :

In [15]:
s='Hello Rajesh what are you doing'
s[0] # H
s[0:2] # He range is 0-2
s[0:5:2] # Hlo  range 0 to 5 -2

'Hlo'

In [18]:
# Slicing
# Print even values place
s[::2]

'HloRjs htaeyudig'

In [19]:
# reverse of a string

s[::-1]

'gniod uoy era tahw hsejaR olleH'

In [26]:
s[-1:-6:-1]

'gniod'

# Arthametic Operations

In [27]:
a+b

20

In [28]:
a-b

0

In [29]:
a*b

100

In [30]:
a/b

1.0

In [31]:
a%c

10

In [33]:
a=10
b=7
a/b  # around the value as a//b =1
a//b

1

In [34]:
import math
print(math.ceil(a/b)) ## 10/7 =1.432 ~ 2
print(math.floor(a/b))  ## 10/7 =1.432 ~ 1

2
1

In [37]:
# Branching / condition control Strecture
x=-1
if x>0:
    print('Positive')
elif x<0:
    print('negative')
else:
    print('Zero')

negative

In [41]:
# Looping Control Strecture

i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [42]:
# reverse the  natural no's
n=int(input())
while 1<=n:
    print(n)
    n-=1

10
10
9
8
7
6
5
4
3
2
1

In [45]:
# find the length of the given string

s='Python'
l=len(s) # length function is : len
print(l)

6

In [48]:
# Print in the character by character

i=0
while i<l:
    print(s[i])
    i+=1

P
y
t
h
o
n

In [54]:
# Print n natural no's using for loop

for i in range(1,11):  # for(i=1,i<11,i++){ }
    print(i)

1
2
3
4
5
6
7
8
9
10

In [52]:
# print a string in line by line
for i in range(len(s)):
    print(s[i])

P
y
t
h
o
n

In [53]:
# print a string in line by line
for i in s:
    print(i)

P
y
t
h
o
n

In [55]:
# Sorting the data using sorted()
sorted(s)  # based on ASCII values

['P', 'h', 'n', 'o', 't', 'y']

In [56]:
# Sorting the data using sorted()

z="asdfghjkl"
sorted(z)

['a', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 's']

In [57]:
## Sorting the data using recerse Order
sorted(z,reverse=True)

['s', 'l', 'k', 'j', 'h', 'g', 'f', 'd', 'a']

In [58]:
# capitalize the string
z.capitalize()  # First letter converts captial

'Asdfghjkl'

In [61]:
# Upper Case:
y=z.upper()
print (y)

ASDFGHJKL

In [66]:
# Concatinate the string
z=z[:9]+" Hello"
z

'asdfghjkl Hello'

In [67]:
# First letter must be captial
z.title()

'Asdfghjkl Hello'

In [68]:
# Swap is used for Upper letter must be lower lower must be upper
z.swapcase()

'ASDFGHJKL hELLO'