### Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

```is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True```

In [11]:
def is_symmetrical(num):
    temp=num
    rev=0
    if(num==1):
        return True
    else:
        while (num>0):
            rem=num%10
            rev=(rev*10)+rem
            num=num//10
        if temp==rev:
            return True
        else:
            return False
is_symmetrical(3223)

True

In [19]:
def concat_name(first_name, last_name):
    return last_name+","+ first_name
concat_name("first_name" , "last_name")

'last_name,first_name'

In [22]:
# If text contains space print true 

def has_spaces(txt):
	if ' ' in txt:
		return True
	else:
		return False
has_spaces('hello Rajesh')

False

In [26]:
# Print the last element in a list
def getLastItem(lst):
    x=len(lst)
    return lst[x-1]
getLastItem([1,2,3,4])

4

In [63]:
# print - with in a given range with string format

def num_to_dashes(num):
    a="-"
    a=a*num 
    return a
num_to_dashes(5)

'-----'

In [61]:
def num_to_dashes(num):
    s=""
    for i in range(num):
        s+='-'
    print('"'+s+'"')
num_to_dashes(1)

"-"